body{
    background-color: rgb(255, 239, 218);
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(assets/fonts/Montserrat-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(assets/fonts/Montserrat-Medium.ttf);
    font-style:normal;
}
a{
    text-decoration: none;
    color:#2C4674;
}
section.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-right{
    display: flex;
    justify-content: right;
    align-items: right;
}
/* .align-left{
    
} */
div.layout{
    border-radius: 20px;
    height: 800px;
    width: 400px;
    /* padding: 10px; */
}
.slider{
    /* background-color: #4e93de; */
    border-radius: 15px;
    width: 15px;
    height: 15px;
    border: none;
    margin: 5px;
    margin-top: 40px;
    cursor:pointer;
}
#a1{
    background-color: #6AA5e3;
}
/* button.slider:active{
    background-color: #ffffff
    
}  */

p{
    padding-left: 40PX;
    padding-right: 40PX;
}

p#big-title1{
    color: #2c4674;
    font-size: 36px;
    margin-top: 100px;
    text-align: right;
    font-family: 'Montserrat-Bold';
    line-height: 5px;
}
p#big-title2{
    font-size: 36px;
    font-family: 'Montserrat-Regular';
    text-align: right;
    /* padding-right: 50px; */
    line-height: 1px;
    color: #ffffff;
}

p#p1{
    text-align: center;
    margin-top: 100px;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
}
img{
    height: 100%;
    width: 100%;
}
div.slide{
    /* border-radius: 20px; */
    /* background-color: #ffffff; */
    margin-top: 40px;
    width: 100%;
    height: 54%;
    /* z-index: -9 ; */

}
img.slide-up{
    border-radius: 20px;
    width: max-content;
    height: max-content;
}

#sl-1{
    transform: translateY(5px);
    position: relative;
    /* z-index: 1; */
}
#sl-2{
    display: none;
}

button#go-it{
    border-radius: 60px;
    background: linear-gradient(90deg, #4a6DAD, #4F97DD);
    height: 60px;
    width: 60px;
    border: none;
    /* position:relative; */
    position:relative;
    left: 200px;
    top: -100PX;
    /* transform: translateY(-20px); */
    
    /* transition: 1s; */
}
button#go-it:hover{
    transition: 0.4s;
    transform: scale(1.1)rotate(90deg);
}
div.header{
    margin-top: 30px;
    display: flex
}

p#title{
    color: #2c4674;
    font-family: 'Montserrat-Medium';
    font-size: 24px;
    text-align: center;
    font-weight: 100;
}
img#chevron-left{
    width: 40px;
    margin-left: 20px;
    margin-right: 50px;

}
#chevron-left:hover{
    transition: 0.5s;
    transform: translateX(-10px);
}
/* ! Codigo necesita optimizacion */
div.search{
    width: 30px;
    padding-left: 10px;
}
input[type='search']{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 380px;
    text-align: center;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
}
#lupa{
    transform: translateY(-35px);
    width: 35px;
}
/* !Fin de codigo por optimizar */

.nav-pets{
    /* display: block; */
    /* background-color: #6AA5E3; */
    border-radius: 50px;
    border: none;
    width: 170px;
    height: 50px;
    padding: 1px;
    margin:5px;
    /* transform: translateY(-20px); */
    font-family: 'Montserrat-Regular';
    /* text-align: center; */
    /* background-image: url(assets/images/fa-solid_dog.svg) ; */
}
.nav-pets:hover{
    /* transform: translateY(-20px); */
    transform: scale(1.1);
}
#dog-bt{
    background-color: #6AA5e3;
}
img#fat-solid{
    /* content: "Perro"; */
    border-radius:30px;
    transform: translateX(-80px);
    background-color: #DBEFF9;
    width: 30px;
    padding: 5px;
    height: 30px;
}


section#dog{
    padding: 0px;
    border-radius: 20px;
    /* background: #ffffff; */
    width: auto;
    height: 62%;
}
section#cat{
    display: none;
    padding: 0px;
    border-radius: 20px;
    /* background: #844040; */
    width: auto;
    height: 62%;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
.contain-pet{
    /* text-align: center; */
    border-radius: 20px;
    margin: 15px;
    /* margin-top: 20px; */
    /* background-color: #844040; */
    width: 150px;
    height:240px;
    
}
.img-pet{
    width: 150px;
    height: 90%;
    /* height: ; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    transform: translateY(10px);
    /* transition: 1s; */
}
.img-pet:hover{
    transition: 0.7s;
    /* transition-delay: 5s; */
    transform: translateY(-5px);
    transition: 1s;
}


.pet-data{
    /* padding-right: 70px; */
    border-radius: 0px 0px 17px 17px;
    transform: translateY(-70px);
    background-color: #ffffff;
    height: 80px;
    width: auto;
}
#name-pet{
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    /* line-height: ; */
}
#raza-pet{
    font-family:'Montserrat-Medium' ;
    font-size: 12px;
    color: #96a2b9;
    line-height: 0px;
    transform: translateY(-15px);
}
#precio-pet{
    text-align: left;
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    transform: translateY(-20px);
}
#liker{
    text-align: right;
    width: 40px;
    position:relative;
    transform: translate(70px,-70px)
    /* transform: translateY(-80px); */
}