#ivana{
    transform: translateY(-30px);
}
#alvan{
    width: 100%;
    height: 80%;
    transform: translateY(1px);
}
#karsten{
    width: 110%;
}
#reigner{
    transform: translateY(-40px);
}
#ariana{
    width: 110%;
    height: 80%;
    transform: translateY(1px);
}
#remi{
    width: 100%;
    height:70%;
    transform: translateY(23px);
}
#alex{
    transform: translateY(-20px);
}
#zoe{
    transform: translateY(-40px);
}