/* Imagen del index */
#trr{
    margin: auto;
    background-color: rgb(22, 20, 19);
    width: 400px;
    height: 10px;
    
}

#sl-1{
    transform: translateY(5px)  ;
    border-radius: 20px;
    /* background-color: #58c084; */
    width: 100%;
    height: 95%;
    background-image: url(../images/slide1.png);
    background-repeat: no-repeat;
    background-size:contain ;
    /* transform: translateY(-70px); */
    animation: slide-up 1.5s;  
    animation-fill-mode: forwards
}
#sl-2{
    transform: translateY(-103px);
    /* visibility: hidden; */
    display: none;
    border-radius: 20px;
    /* background-color: #58c084; */
    width: 100%;
    height: 120%;
    background-image: url(../images/slide2.png);
    background-size:70%;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: 0 170px;
    animation: slide-up 1.5s;  
    animation-fill-mode: forwards
    

}
@keyframes slide-up {
    from{
        background-position: 0 180px;
    }
    to{
        background-position: 0 0px;
    }
}

/** Damos color a las cajas contenedoras de las mascotas */
#box-yellow{
    background-color: #e3c069;
}
#box-orange{
    background-color: #D1723F;
}
#box-blue{
    background-color: #488db3;
}
#box-green{
    background-color: #58c084;
}
#ivana{
    transform: translateY(-30px);
}
#alvan{
    width: 100%;
    height: 80%;
    transform: translateY(1px);
}
#karsten{
    width: 110%;
}
#reigner{
    transform: translateY(-45px);
}
/* Estilos de las imagenes de los gatos */
#ariana{
    width: 120%;
    height: 80%;
    transform: translate(-5px)
}
#remi{
    width: 100%;
    height:70%;
    transform: translateY(20px);
}
#alex{
    transform: translateY(-30px);
}
#zoe{
    transform: translateY(-20px);
}
